/* @import './normalize'; */
*{
    box-sizing: border-box;
  }
   form {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin: 25px auto;
   }
   
   .input,.btn {
    line-height: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 6px;
    font-size: 18px;
    width: 260px;
      outline: none;
      border: none;
      border-radius: 14px;
      font-family: 'Montserrat', sans-serif;
      color: #524f4e;
      background: white;
  }
  .btn {
    color: #524f4e;
    background: #f2f1ea;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
   }
   .btn:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
  }
   .cards {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     max-width: 900px;
     width: 100%;
     margin: 0 auto;
   }
   
   .close-btn {
     position: absolute;
     top: 0;
     right: 0;
     display: inline-block;
     width: 25px;
     height: 25px;
     background-image: url("https://image.flaticon.com/icons/svg/179/179429.svg");
     background-size: contain;
     background-position: center;
     background-repeat: no-repeat;
     cursor: pointer;
     transition: transform 0.1s linear;
   }
   
   .close-btn:hover {
     transform: rotate(90deg);
   }
   
   .card {
     margin: 5px;
     width: 280px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     transition: 0.3s;
     border-radius: 5px;
     /* 5px rounded corners */
     padding: 15px;
     position: relative;
   }
   
   .card:hover {
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
   }
   
   .card img {
     width: 250px;
   }
   
   li {
     list-style-type: none;
   }
   
   button {
     cursor: pointer;
   }
   
   .modal {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(37, 45, 58, 0.7);
   }
   
   .modal-hidden {
     display: none;
   }
   
   .modal-content {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-width: 650px;
     min-height: 380px;
     padding: 50px 80px;
     background-color: #ffffff;
     box-shadow: 0 4px 4px rgba(1, 2, 2, 0.2);
     border-radius: 2px;
   }
   .modal-text {
     margin-bottom: 15px;
     color: #2a2a2a;
     font-size: 30px;
     font-weight: 600;
     line-height: 42px;
     text-align: center;
   }